*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #171717;
  background-color: #ffffff;
}

header,
footer {
  min-height: 4rem;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  padding: 1.25rem 2rem 1.25rem;
}

header {
  border-bottom: 1px solid black;
}

footer {
  border-top: 1px solid black;
}

main {
  margin: 0 auto;
  max-width: 48rem;
  padding: 0rem 2rem;
}

h1 {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-weight: 800;
  font-size: 2.25rem;
}

h2 {
  margin: 3rem 0rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}

p {
  line-height: 1.75rem;
  margin-bottom: 1.25rem;
}

ul {
  padding-left: 1.625rem;
  margin-bottom: 1.25rem;
}

li {
  line-height: 1.75rem;
  margin: 0.5rem 0;
  padding-left: 0.375rem;
}