main {
  max-width: 80rem;
  margin: 3rem auto;
  padding: 0 2rem;
}

.hero {
  max-width: 100%;
  height: 48rem;
  background-image: url("../images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__container {
  max-width: 48rem;
  text-align: center;
  padding: 0 6rem;
  /* display: flex;
  flex-direction: column;
  gap: 1rem; */
}

.hero__title {
  font-weight: 700;
  font-size: 3.75rem;
  line-height: 3.75rem;
  margin-bottom: 1rem;
}

.hero__text {
  font-weight: 100;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 2rem;
}

.hero__button {
  background-color: rgba(91, 91, 214, 1);
  padding: 0.6875rem 2rem;
  color: white;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  text-decoration: none;
  display: inline-block;
}

.categories__section {
  margin-bottom: 3rem;
}

.categories__title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 800;
}

.categories__text {
  font-weight: 400;
  line-height: 1.75rem;
  margin-bottom: 1.25rem;
  color: rgba(96, 100, 108, 1);
  max-width: 48rem;
}

.categories__intro {
  margin-bottom: 2.5rem;
}

.categories__products {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.categories__product-img {
  margin-bottom: 1rem;
}

.categories__product-title {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.categories__product-text {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  color: rgba(96, 100, 108, 1);
}