main {
  max-width: 80rem;
  margin: 3rem auto;
  padding: 0 2rem;
}

.categories__section {
  margin-bottom: 3rem;
}

.categories__title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 800;
}

.categories__text {
  font-weight: 400;
  line-height: 1.75rem;
  margin-bottom: 1.25rem;
  color: rgba(96, 100, 108, 1);
  max-width: 48rem;
}

.categories__intro {
  margin-bottom: 2.5rem;
}

.categories__products {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.categories__product-img {
  margin-bottom: 1rem;
}

.categories__product-title {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.categories__product-text {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  color: rgba(96, 100, 108, 1);
}