* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 50rem;
  margin: 12px auto;
}

.grid-container {
  display: grid;
  /* grid-template-columns: 100px 100px 100px;
  grid-template-columns: repeat(3, 100px); */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 100px);
  grid-auto-rows: 300px;
  gap: 10px 30px;
  /* row-gap: 20px;
  column-gap: 50px; */
}

.grid-container .grid-item {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  /* height: 200px; */
}

.item1 {
  background-color: rgba(240, 128, 128, 0.368);
  grid-column-start: 1;
  grid-column-end: -1;
  grid-column: 1 / -1;
}

.item2 {
  background-color: rgba(13, 2, 57, 0.368);
  grid-column-start: 2;
  grid-column-end: -1;

  grid-column-start: 2;
  grid-column-end: 4;
}

.item3 {
  background-color: rgba(199, 161, 7, 0.368);
  /* grid-column-start:1 ;
  grid-column-end:2 ; */
  grid-row-start: 2;
  grid-row-end: 5;
}

.item4 {
  background-color: rgba(49, 11, 203, 0.368);
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;
}

.item5 {
  background-color: rgba(10, 183, 186, 0.368);
  grid-column: 1 / 3;
  grid-row: 5 / 7;
}

.item6 {
  background-color: rgba(145, 209, 7, 0.368);
  /* grid-column: 3 / span 1; */
  grid-row: 5 / span 2;
}

.item7 {
  background-color: rgba(198, 6, 220, 0.368);
  grid-column: 1 / span 3;
}