* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* html {
  border: 5px solid gray;
} */

body {
  max-width: 600px;
  margin: 20px auto;
}
.container {
  border: 2px solid black;
  position: relative;
}

.item {
  height: 100px;
  background-color: lightblue;
  border: 2px solid blue;
  margin: 10px;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
}

.relative  {
  /* position: relative; */
  bottom: -10px; 
  top: 50px;
  right: 100px;
  background-color: orange;
}

.absolute {
  width: 200px;
  position: absolute;
  /* inset: 10px 10px 10px 10px; */
  top: 15px;
  right: 50px;
  background-color: lightgreen;
}