.cart-item {
  display: flex;
  gap: 1.5rem;
  width: 100%;
  border-bottom: 1px solid var(--separator);
  padding: 1.5rem
}

.cart-item__img {
  width: 5rem;
  height: 7.5rem;
  background-color: var(--foreground);
  border-radius: .75rem;
}

.cart-item__img img {
  width: 100%;
  height: auto;
  aspect-ratio: 2 / 3;
}

.cart-item__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-item-info__top {
  padding: .25rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  /* width: 100%; */
}

.cart-item__title {
  width: 70%;
  font-weight: 400;
  color: var(--foreground);
  font-size: .875rem;
  line-height: 1.25rem;
}

.cart-item-info__bottom {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.cart-item__price {
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.cart-item__quantity {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cart__item-quantity-display {
  font-size: 14px;
  border: 1px solid var(--separator);
  border-radius: .375rem;
  padding: .375rem .7813rem;
}

@media (min-width: 40rem) {
  .cart-item-info__top {
    justify-content: space-between;
  }

  .cart-item-info__bottom {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

