body{
  background-color: var(--muted-background);
  
}
.checkout-form {
  width: 100%;
}

.content-checkout {
 
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.resumen {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.resumen h2 {
  font-size: 1.125rem;
  font-weight: 500;
}

.resumen-list {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 1rem;
  border: 1px solid var(--separator);
}

.resumen-item {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 1.5rem;
  border-bottom: 1px solid var(--separator);
}

.resumen-img {
  background: var(--muted-background);
  width: 5rem;
  height: 5rem;
  border-radius: .75rem;
}

.resumen-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.resumen-content {
  font-size: .875rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.resumen-item__price {
  font-weight: 500;
  text-align: right;
}

.resumen-item__title {
  font-weight: 400;

}

.resumen-total {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

@media (min-width: 40rem) {

  .resumen {
    max-width: 37rem;
  }

  .checkout-form {
    max-width: 37rem;
  }
}

@media (min-width: 64rem) {

  .resumen {
    max-width: 28.5rem;
  }

  .checkout-form {
    max-width: 28.5rem;
  }

  .content-checkout {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 3rem;
  }
}