.content {
  max-width: 48rem;
  margin: 3rem auto;
  padding: 0 2rem;
}

.content section {
  margin-bottom: 3rem;
}

.content h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 800;
}

.content h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.content h3 {
  font-size: 1.25rem;
  line-height: 2rem;
  margin-top: 2rem;
  margin-bottom: 0.75rem;
  font-weight: 600;
}

.content h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.content ol ul {
  margin: 1.25rem 0;
}

.content ul li {
  list-style-type: disc;
  margin-left: 1.625rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1.75rem;
}

.content p {
  font-size: 1rem;
  line-height: 1.75rem;
  margin: 1.25rem 0;
  font-weight: 400;
}

.content a {
  text-decoration: underline;
}
