.hero {
  max-width: 100%;
  height: 34rem;
  background-image: url("../../images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__container {
  text-align: center;
  padding: 0 1rem;
}

.hero__title {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;

  animation: move-left 1.5s ease-in-out;
}

.hero__description {
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 2rem;

  animation: move-right 1.5s ease-in-out;
}

.hero__container .button {
  animation-name: appear;
  animation-delay: 0.5s;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}

@media (min-width: 40rem) {

  .hero__container {
    padding: 0 1.5rem;
    max-width: 45rem;
  }

  .hero__title {
    font-size: 3.75rem;
    line-height: 3.75rem;
  }

  .hero__description {
    font-size: 1.25rem;
    line-height: 1.75rem;
  } 
}

@keyframes move-left {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes move-right {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}


@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


