.links-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1rem;
}

.footer_nav-links {
  width: calc((100% - 1rem)/2);
}

.footer__links-title {
  font-size: 500;
  font-size: 0.875rem;
  margin-bottom: 1.5rem;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.footer__link {
  font-size: 0.875rem;
}

@media (min-width: 768px) {
  .links-group {
      flex-wrap: nowrap;
  }
}

@media (min-width: 1440px) {
  .links-group {
      flex-wrap: nowrap;
      flex: 1;
  }
}