/* Header */
.header {
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
  background-color: var(--background);
  border-bottom: 1px solid var(--separator);
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .75rem 0 .6875rem 0;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 1px solid var(--separator);
}

.header__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 40rem) {
  .header {
    border-bottom: none;
  }
  .header__bottom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
}

