.main-footer {

}

.main-footer__container {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(217, 217, 224, 1);
}

.main-footer__copyright {
  padding: 1.5rem 0;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (min-width: 1440px) {
  .main-footer__container {
    flex-direction: row;
  }

  .footer__container-nav {
      flex-wrap: nowrap;
      flex: 1;
  }
}