.nav-item{
  display: block;
}

.nav-item a {
  display: block;
  text-decoration: none;
  padding: 0.75rem;
  padding-top: .875rem;
  padding-bottom: .875rem;
  font-size: .875rem;
}

.nav-item:hover {
  background-color: var(--accent-background);
}
