.order-confirmation {

}

.order-confirmation__message {
  margin-bottom: .5rem;
  color: var(--accent-foreground);
  line-height: 1.5rem;
  font-weight: 600;
}

.order-confirmation__status {
  margin-bottom: .5rem;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
}

.order-confirmation__description {
  line-height: 24px;
  margin-bottom: 3rem;
  color: var(--muted-foreground);
}

.order-notification__tracking-label {
  font-size: .875rem;
  line-height: 1.5rem;
  margin-bottom: 8px;
  color: var(--foreground);
}

.order-notification__tracking-code {
  font-size: .875rem;
}