.quality {
  background-color: var(--muted-background);
}

.quality__title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 3rem;
}

.quality__list {
  /* display: flex; */
  /* flex-direction: column; */
  
  display: grid;
  text-align: center;
  gap: 2rem;
}

@media (min-width: 768px) {
  .quality__list {
    grid-template-columns: repeat(2, 1fr);
    /* flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; */
  }
}

@media (min-width: 1440px) {
  .quality__list {
    grid-template-columns: repeat(4, 1fr);
    /* flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; */
  }
}