/* Considerando layout de Figma semana 1: Inicia aqui */
.terms {
  max-width: 48rem;
  margin: 0 auto;
}
/* Considerando layout de Figma semana 1: Finaliza aqui */

.terms__title {
  margin-bottom: 2rem;
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 2.5rem;
}

.terms__subtitle {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.terms__text {
  margin-bottom: 1.25rem;
  line-height: 1.75rem;
}

.terms__text--last {
  margin-bottom: 0;
}

.terms__text-strong {
  font-weight: 700;
}

.terms__list {
  padding-left: 1.625rem;
  margin-bottom: 1.25rem;
}

.terms__list-item {
  padding-left: 0.375rem;
  margin: 0.5rem 0;
  line-height: 1.75rem;
  list-style: disc;
}

.terms__list-item::marker {
  color: #3f3fc6;
}

.terms__list-strong {
  font-weight: 700;
}

.terms__link {
  color: #3f3fc6;
  text-decoration: underline;
}

.terms__link:hover {
  color: #5b5bd6;
}
