* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) ;
  grid-gap: 10px;
  padding: 10px;
}

.item {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

/* @media (max-width: 600px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 901px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
} */