* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contenedor {
  display: grid;
  height: 100vh;
  grid-template-columns: 2fr 3fr 3fr;
  grid-template-rows: 48px 1fr 48px;
  grid-template-areas:
    "encabezado encabezado encabezado"
    "barra-lateral contenido contenido"
    "pie-de-pagina pie-de-pagina pie-de-pagina";
  grid-gap: 10px;
  padding: 10px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.encabezado {
  grid-area: encabezado;
  background-color: lavender;
}

 .contenido {
  grid-area: contenido;
  background-color: violet;
}

.barra-lateral {
  grid-area: barra-lateral;
  background-color: plum;
}

.pie-de-pagina {
  grid-area: pie-de-pagina;
  background-color: thistle;
}