/* Estilos mobile */
body {
  background-color: aqua;
}

h1 {
  padding: 10px;
  font-size: 1rem;
}

/* 
//max-width
min-width */
/* mipc = 767 < 600 (f)
mipc = 441 < 600 */
/* de mayor a menor */
/* mipc = 441 < 400 */
/* De mayor a menor */
/* @media (max-width: 600px) {
  body {
    background-color: red;
  }
}

@media (max-width: 400px) {
  body {
    background-color: blue;
  }
} */

/* de menor a mayor */
/* @media (min-width: 400px) and (max-width: 450px) {
  body {
    background-color: cadetblue;
  }
} */

@media (min-width: 400px) {
  body {
    background-color: blueviolet;
  }
  h1 {
    font-size: 2rem;
    color: white;
  }
}

@media (min-width: 700px) {
  body {
    background-color: burlywood;
  }
  h1 {
    font-size: 2.5rem;
    color: white;
  }
}

@media (min-width: 1000px) {
  body {
    background-color: chartreuse;
  }
  h1 {
    font-size: 4rem;
    color: red;
  }
}