/* styles/1_foundation/global.css */
 
body {
  font-family: var(--family-text);
  font-size: 1rem;
  line-height: 1.5rem;
 
  color: var(--foreground);
  background-color: var(--background);
}
 
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--family-heading);
}
 
code {
  font-family: var(--family-monospace);
}
 
em {
  font-family: var(--family-emphasis);
}

label {
  font-weight: 500;
  font-size: 0.875rem;
  color: var(--foreground);
}

input, select, textarea {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  padding: .5rem .75rem;
  color: var(--foreground);
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: .75rem;
}

input, select {
  height: 40px;
}

select, textarea {
  border-radius: .375rem;
}

input[type="checkbox"] {
  accent-color: var(--primary-background);
}

input:focus, select:focus, textarea:focus {
  outline: 2px solid var(--outline);
  border-color: var(--outline);
  outline-offset: 1px;
}

input:disabled, select:disabled, textarea:disabled {
  background-color: var(--muted-background);
  color: var(--muted-foreground);
  cursor: not-allowed;
}

